<launch>
    
    <include file="$(find raspicam_node)/launch/camerav2_1280x960.launch"></include>
    
    <node name="image_transport" 
          pkg="image_transport" 
          type="republish" 
          respawn="false" 
          output="screen"
          args="compressed in:=/raspicam_node/image raw out:=/camera/color/image_raw" />

    <node name="color_check"
          pkg="zumoShield_line_trace"
          type="color_check_p3.py"
          respawn="false"
          output="screen" />
</launch>
